data/
cache/
logs/
results/figures/*.png
results/figures/*.pdf
results/tables/*.tsv.gz

.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

__pycache__/
*.pyc
.conda/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

samtools.*.tmp.*.bam
*.tmp.*.bam

Log.out
Log.std.out
Log.progress.out
SJ.out.tab
_STARtmp/
_STARpass1/

.*/
*.md
*.gz
*.csv
# Never publish images / PDFs
*.png
*.pdf
